@import "./globals.css";

:root {
  --font-inter: "Inter";
  --font-jakarta: "Plus Jakarta Sans";
  --font-jetbrains: "JetBrains Mono";
}

@layer base {
  html {
    min-width: 320px;
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  }

  body {
    min-width: 320px;
    margin: 0;
  }
}
